{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
            <div class="hero-image">
                <div class="hero-text">
                        <h1 class="display-4 logo-font text-white">
                            Join the community
                        </h1>
                        </br>
                        <p>
                        Learn a mindful approach. With your Wellness pro membership, you get access
                        to videos from at-home yoga, meditation and more.
                        Explore guided exercises, videos, and more to help you get healthier and happier.</p>
                        <div class="my-5">
                            <h4>
                                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3">Learn more</a>
                            </h4>
                        </div>
                </div>
            </div>


    <div class="container marketing">
         <!-- Three columns of text below the carousel -->
         <h2 class="text-center"><strong>What can I do with my Wellness membership?</strong></h2>
        <div class="row">
            <div class="col-lg-4">
                <i class="fas fa-shopping-bag fa-3x"></i>
                <h2>Shop</h2>
                <p>Get everything you need to maximise your training sessions. Special discounts for pro members.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <i class="fas fa-heartbeat fa-3x"></i>
                <h2>Workouts</h2>
                <p>Discover new workouts, get nutrition information and healthy lifestyle tips from our experts!</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <i class="fas fa-spa fa-3x"></i>
                <h2>Relax and recover</h2>
                <p>Join our yoga classes, relax and strech your body. Do some meditation and learn about mindfulness.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">About <span class="text-muted">Wellness App Community</span></h2>
        <p class="lead">The best of fitness and wellness. Whether you are a beginner or are ready for a new challenge. Become fitter, stronger and more confident with us. Join our community today!</p>
      </div>
      <div class="col-md-5">
              <img src="../media/getstrong.jpg" width="500" height="500" background="#eee" color="#aaa" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" >
      </div>
    </div>

    <hr class="featurette-divider">

    
    <div class="container">
    
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Available plans on Wellness</h1>
                <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
        </div>

    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">$0</h1>
            <ul class="list-unstyled mt-3 mb-4">
            <li>2 workout videos</li>
            <li>1 nutritionplan</li>
            <li>Email support</li>
            <li>Community</li>
            </ul>
            <button type="button" id="buy_now_btn" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
        </div>
        <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">$99.00</h1>
            <ul class="list-unstyled mt-3 mb-4">
            <li>Unlimited workout videos</li>
            <li>Custom nutrition plan</li>
            <li>Priority email support</li>
            <li>Coupon discount in shop</li>
            </ul>
            <a href="" class="btn btn-lg btn-block btn-primary">Get started</a>
        </div>
        </div>
    </div>
    </div>
    <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
  
{% endblock %}

