{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/stripe.css' %}" />

{% endblock extra_head %}

{% block content %}
  <div class="flex justify-center mx-auto" style="padding-top:5rem;">
    <div class="py-3">
      <div class="border border-gray-200 rounded shadow-md px-3 py-3">
        <h2 class="text-xl text-center text-gray-500">
          Enroll for the {{ pricing_tier.name }} membership
        </h2>
        <p class="text-3xl text-center text-gray-800">
          {% if pricing_tier.currency == "usd" %}
          ${{ pricing_tier.price }}/mo 
          {% else %}
          €{{ pricing_tier.price }}/mo
          {% endif %}
        </p>
      </div>
      <div class="mt-3">
        <form id="subscription-form">

          {% csrf_token %}
          <div id="card-element" class="form-control">
          <!--Stripe.js injects the Card Element-->
          </div>
          <button id="submit" type="submit">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text">Pay</span>
          </button>
          <p id="card-errors" role="alert"></p>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascript %}
<script  type="text/javascript">

const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
var elements = stripe.elements();

var style = {
  base: {
    color: "#32325d",
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: "antialiased",
    fontSize: "16px",
    "::placeholder": {
      color: "#aab7c4"
    }
  },
  invalid: {
    color: "#fa755a",
    iconColor: "#fa755a"
  }
};

var priceId = "{{ pricing_tier.stripe_price_id }}"

var card = elements.create("card", { style: style });
card.mount("#card-element");

card.on('change', showCardError);

function showCardError(event) {
  let displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
}

var form = document.getElementById('subscription-form');

form.addEventListener('submit', function (ev) {
  ev.preventDefault();
  changeLoadingState(true);

  const latestInvoicePaymentIntentStatus = localStorage.getItem(
    'latestInvoicePaymentIntentStatus'
  );

  if (latestInvoicePaymentIntentStatus === 'requires_payment_method') {
    const invoiceId = localStorage.getItem('latestInvoiceId');
    const isPaymentRetry = true;
    createPaymentMethod({
      card,
      isPaymentRetry,
      invoiceId,
    });
  } else {
    createPaymentMethod({ card });
  }
});

function createPaymentMethod({ card, isPaymentRetry, invoiceId }) {
  stripe
    .createPaymentMethod({
      type: 'card',
      card: card,
    })
    .then((result) => {
      if (result.error) {
        changeLoadingState(false);
        displayError(result);
      } else {
        if (isPaymentRetry) {
          retryInvoiceWithNewPaymentMethod({
            paymentMethodId: result.paymentMethod.id,
            invoiceId: invoiceId,
            priceId: priceId,
          });
        } else {
          createSubscription({
            paymentMethodId: result.paymentMethod.id,
            priceId: priceId,
          });
        }
      }
    });
}

function createSubscription({ paymentMethodId, priceId }) {
  return (
    fetch("{% url 'pro_payment:create-subscription' %}", {
      method: 'post',
      headers: {
        'Content-Type': "application/json",
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify({
        paymentMethodId: paymentMethodId,
        priceId: priceId,
      }),
    })
      .then((response) => {
        return response.json();
      })
      .then((result) => {
        if (result.error) {
          throw result;
        }
        return result;
      })
      .then((result) => {
        return {
          paymentMethodId: paymentMethodId,
          priceId: priceId,
          subscription: result,
        };
      })
      .then(handlePaymentThatRequiresCustomerAction)
      .then(handleRequiresPaymentMethod)
      .then(onSubscriptionComplete)
      .catch((error) => {
        changeLoadingState(false);
        showCardError(error);
      })
  );
}

function handlePaymentThatRequiresCustomerAction({
  subscription,
  invoice,
  priceId,
  paymentMethodId,
  isRetry,
}) {
  if (subscription && subscription.status === 'active') {
    return { subscription, priceId, paymentMethodId };
  }
  let paymentIntent = invoice ? invoice.payment_intent : subscription.latest_invoice.payment_intent;

  if (
    paymentIntent.status === 'requires_action' ||
    (isRetry === true && paymentIntent.status === 'requires_payment_method')
  ) {
    return stripe
      .confirmCardPayment(paymentIntent.client_secret, {
        payment_method: paymentMethodId,
      })
      .then((result) => {
        if (result.error) {
          throw result;
        } else {
          if (result.paymentIntent.status === 'succeeded') { 
            return {
              priceId: priceId,
              subscription: subscription,
              invoice: invoice,
              paymentMethodId: paymentMethodId,
            };
          }
        }
      })
      .catch((error) => {
        changeLoadingState(false);
        displayError(error);
      });
  } else {
    return { subscription, priceId, paymentMethodId };
  }
}

function handleRequiresPaymentMethod({
  subscription,
  paymentMethodId,
  priceId,
}) {
  if (subscription.status === 'active') {
    return { subscription, priceId, paymentMethodId };
  } else if (
    subscription.latest_invoice.payment_intent.status ===
    'requires_payment_method'
  ) {
    localStorage.setItem('latestInvoiceId', subscription.latest_invoice.id);
    localStorage.setItem(
      'latestInvoicePaymentIntentStatus',
      subscription.latest_invoice.payment_intent.status
    );
    throw { error: { message: 'Your card was declined.' } };
  } else {
    return { subscription, priceId, paymentMethodId };
  }
}

function onSubscriptionComplete(result) {
  if (result.subscription.status === 'active') {
      console.log("Complete")
      window.location.href = "{% url 'users:detail' request.user.username %}"
  }
}

function retryInvoiceWithNewPaymentMethod({
  paymentMethodId,
  invoiceId,
  priceId
}) {
  return (
    fetch("{% url 'pro_payment:retry-invoice' %}", {
      method: 'post',
      headers: {
        'Content-Type': "application/json",
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify({
        paymentMethodId: paymentMethodId,
        invoiceId: invoiceId,
      }),
    })
      .then((response) => {
        return response.json();
      })
      .then((result) => {
        if (result.error) {
          throw result;
        }
        return result;
      })
      .then((result) => {
        return {
          invoice: result,
          paymentMethodId: paymentMethodId,
          priceId: priceId,
          isRetry: true,
        };
      })
      .then(handlePaymentThatRequiresCustomerAction)
      .then(onSubscriptionComplete)
      .catch((error) => {
        changeLoadingState(false);
        displayError(error);
      })
  );
}

function changeLoadingState(isLoading) {
  if (isLoading) {
    document.querySelector('#button-text').classList.add('hidden');
    document.querySelector('#spinner').classList.remove('hidden');
    document.querySelector('#subscription-form button').disabled = true;
  } else {
    document.querySelector('#button-text').classList.remove('hidden');
    document.querySelector('#spinner').classList.add('hidden');
    document.querySelector('#subscription-form button').disabled = false;
  }
}
</script>
{% endblock javascript %}