{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="text-gray-700 body-font" style="padding-top: 4rem;">
  <div class="container mx-auto flex px-5 items-center justify-center flex-col">
      <img alt="content" class="object-cover object-center" src="https://wellness-app-django.s3.eu-west-2.amazonaws.com/media/peopleblog.jpg">

    <div class="text-center lg:w-2/3 w-full" style="padding-top: 2rem;">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">All blogs</h1>
      <p class="mb-8 leading-relaxed">Read all our blogs here</p>
       <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
      </div>
    </div>
  </div>
</section>  

<!-- All blogs -->

<section class="text-gray-700 body-font" style="padding-top: 1rem;">
  <div class="container px-5 mx-auto flex flex-wrap flex-col bg-gray-200 rounded ">
    <div class="flex flex-col text-center w-full ">
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                {% if blog_list %}
        <ul>
      {% for blog in blog_list %}
      <li>
        <a href="{{ blog.get_absolute_url }}">{{ blog.name }}</a> 
        <span class="text-gray-500 text-sm">{{blog.post_date}}</span> — <a href="{% url 'blogs-by-author' blog.author.pk %}">{{ blog.author }}</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no blogs.</p>
    {% endif %} 
      </p>
    </div>
  </div>
   <a href="{% url 'blog' %}">
    <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Back to blog homepage</button>
    </a>
</section>
{% endblock %}